* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --primary-text-color: #0f0f0f;
  --secondary-text-color: #606060;
  --tertiary-text-color: #f2f2f2;
  --general-text-font: 'Roboto', sans-serif;
  --base-font-size: 16px;
}

#sidebar, input, .input, .lupa {
  display: none;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--general-text-font);
}

#top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: 0 16px;
  z-index: 1000;
}

#top-bar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#top-bar > div > div {
  gap: 2px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lupa {
  width: 64px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.menu {
  padding: 8px;
}

.logo {
  padding: 18px 14px 18px 16px;
}

input {
  margin: 0px 0px 0px 20px;
  border-radius: 15px;
  width: 100%;
  height: 40px;
}

.cuenta {
  border-radius: 50%;
}

.icon {
  width:40px;                     
  min-width:40px;
  height:40px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.icon > img {
  border-radius: 50%;
}

.separator {
  height: 1px;
  border: none;
  background-color: var(--tertiary-text-color);
  margin: 8px 0;
}

.menu-title {
  padding: 8px 12px;
  max-width: 170px;
  cursor: pointer;
}

.menu-title p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.title-menu {
  padding: 8px 12px;
  max-width: 170px;
  cursor: auto;
  font-weight: 500;
}

#category-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 60px;
  overflow-y: hidden;
  padding: 20px;
  z-index: 100;
  background-color: var(--background-color)

}

#category-bar > div {
  background-color: var(--tertiary-text-color);
  padding: 7px 18px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}


.containerrows {
  display: grid;
  grid-template-rows: 5% 1fr;
  padding: 20px;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 16px;
  padding: 20px;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.video-presentation {
  position: relative;
}

.timer {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 14px;
}

.mix {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 0 4px;
  bottom: 8px;
  right: 8px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 14px;
}

.mix > svg {
  margin-right: 3px;
}

.video-info {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.channel-avatar {
  margin-right: 12px;
}

.channel-avatar > img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 2px;
}

.name-channel {
  display: flex;
  align-items: center;
  margin-top: 2px; 
  fill: var(--secondary-text-color);
  color: var(--secondary-text-color);
}

.text-info p {
  color:var(--secondary-text-color);
  font-size: 14px;
  margin-top: 4px;
}

.text-info h3 {
  font-size: 16px;
}



/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...} */

  /*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
  input, .input, .lupa {
  display: flex; }
  
  .containercolumns {
  display: grid;
  grid-template-columns: 10% 1fr;
  gap: 20px;
}

  #sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  }

  .aside {
    display: none;
  }

}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {}*/


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  #sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-color);
}

#sidebar:hover {
  overflow-y: scroll; 
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-text-color);
}

#sidebar > section > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 12px;
}

#sidebar > section > div:hover {
  background-color: var(--tertiary-text-color); 
  border-radius: 13px;
}


}



/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {} */